*~
*.BACKUP*
*.BASE*
*.LOCAL*
*.REMOTE*
*.orig
*#
.idea/
.DS_Store
.svn
.zhistory
.zcompdump
.zsh_sessions
.zcomp*
.zsh_history
**/*.swp
**/cache
vendor/
conf/vscode/extensions
conf/vscode/argv.json
conf/github-copilot/hosts.json
conf/containers
conf/git/*.conf
log/*.log
zsh/private.zsh